#supp_visite{
	position:fixed;
	width: 300px;
	height: 200px;
	border: 1px solid black; 
	margin-left:50%;
	z-index:9999999999999;
	background:white;
	margin-top: 20%;
}

#opac{
	position:fixed;
	width: 100%;
	height: 100%;
	top:0;
    background-color: black;
    opacity: 0.5; 
}